build
distro
db
db/*
webserver*
*.log
*.sh
nanodlp
nanodlp.exe
nanodlp.exe.bak
setup
public/plates/*
public/general/athena.png
public/image_version
public/channel
public/printer_type
public/status.json
.idea/
