.u-legend.u-inline .u-value {
    width: 150px;
    text-align: left;
}

.uplot {
    background-color: var(--df-surface-0);
    width: 100%;
    margin-bottom: 32px;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .uplot { margin-bottom: 24px; overflow-x: hidden; }
}

.u-label, .u-value, .u-title {
    color: var(--df-text-muted);
}

.u-series {
    color: var(--df-text-strong);
    font-size: small;
}

.u-legend.u-inline .u-value {
    width: 100px;
}

.u-series {
    font-size: small;
}
