.btn-movement {
  background-color: #f0ad4e;
}

.btn-movement-active {
  background-color: transparent;
  color: #fff;
}

.btn-axis-move.focus, .btn-axis-move:focus {
  color: #000;
  background-color: #fff;
}

.btn-mod-l{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;

}

.btn-mod-r{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;

}

.btn-mod-center{
  margin-top: auto;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;

}

.div-modal-buttons {
  width: 80%;
  margin: 0 auto;
    display: flex;
  justify-content: space-between;
}

.checkbox-profile {
  height: 20px !important;
  color: #ffffff !important;
}

.checkbox-profile:checked {
   accent-color: #f0ad4e !important;
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mapcontainer {
  height: 400px;
}

.maps-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 100%;
  left: 50%;
  text-align: center;
}

#container img {
  position: absolute;
  left:20%;
  transition: opacity 0.1s ease-in-out;
  width: 70%;
}


#container img.top:hover {
  opacity:0;
}

.progress {
  position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}

.tooltip-inner {
  color:white;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 700px;
}

.i_option .tooltip {
  min-width:200px
}

.navbar-brand{
  font-size: 14px !important;
}

.navbar-brand img{
  height: 75% !important;
}

.force-stop{
  margin-bottom: 10% !important;
}

.btn-default {
  border-color: #F5F5F5 !important;
}

/* Athena Gold on hover */
.btn-default:hover {
  border-color: #f0ad4e !important;
}

#setup .col-md-11 {
  display: none;
}

.wifi-navbar-connected{
  color:lawngreen !important;
}

.wifi-navbar-disconnected{
  color:#F5F5F5 !important;
}

a.list-group-item:hover {
  color: #555555;
  text-decoration: none;
  background-color: #f5f5f5;
}

a.list-group-item {
  color: #f5f5f5;
}

.edit-page input,
.edit-page select,
.edit-page textarea,
.support-form input,
#search {
  background-color: #3b3b3b; !important;
  border: 1px solid #dddddd;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 4px;
}

.edit-page textarea,
.support-form textarea {
  color: #f5f5f5;
  height: 133px;
}

.toast-top-center {
  margin-top: 16px !important;
}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch-slider {
  background-color: #2196F3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.toast {
  opacity: 1 !important;
}
  .video-container {
  position: relative; /* Ensures video is positioned relative to this container */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 400px; /* Adjust based on your needs */
  overflow: hidden; /* Prevents overflow caused by rotation */
  background: #000; /* Optional: Black background for better contrast */
}

#livestream-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 178%;
  max-height: 178%;
  transform: translate(-50%, -50%) rotate(270deg);
  transform-origin: center center;
  object-fit: cover; /* Ensures video fills the rotated container */
}

.row-marginless {
  margin-left: 0;
  margin-right: 0;
}