{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/dependencies/uPlot/uPlot.min.css">
<script src="/static/dependencies/uPlot/uPlot.iife.min.js"></script>
<script src='/static/js/analytics.js'></script>
<link href='/static/css/analytics.css' rel="stylesheet">

{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        getData(false);
        $("#download-csv").click(function(){
            getData(true);
        });	
        $("#file").change(function(){
            getData(false);
        });	
	});

    const CHART_CONFIGS = [
        {
            uplotId: '#uplot-1',
            fields: [
                { key: 'LayerHeight', id: 0 },
                { key: 'SolidArea', id: 1 },
                { key: 'AreaCount', id: 2 },
                { key: 'LargestArea', id: 3 },
                { key: 'Speed', id: 4 },
                { key: 'Cure', id: 5 },
                { key: 'Pressure', id: 6, overrideLabel: 'Force', overrideAxisLabel: 'Force', overrideUnit: 'g' },
                { key: 'LayerTime', id: 9 },
                { key: 'LiftHeight', id: 10 },
                { key: 'DynamicWait', id: 17 },
            ]
        },
        {
            uplotId: '#uplot-2',
            fields: [
                { key: 'TemperatureInside', id: 7 },
                { key: 'TemperatureOutside', id: 8 },
                { key: 'TemperatureMCU', id: 11 },
                { key: 'TemperatureInsideTarget', id: 12 },
                { key: 'TemperatureOutsideTarget', id: 13 },
                { key: 'TemperatureMCUTarget', id: 14 },
                { key: 'MCUFanRPM', id: 15 },
                { key: 'UVFanRPM', id: 16 },
                { key: 'TemperatureVat', id: 18 },
                { key: 'TemperatureVatTarget', id: 19 },
                { key: 'PTCFanRPM', id: 20 },
                { key: 'AEGISFanRPM', id: 21 },
                { key: 'TemperatureChamber', id: 22 },
                { key: 'TemperatureChamberTarget', id: 23 },
                { key: 'TemperaturePTC', id: 24 },
                { key: 'TemperaturePTCTarget', id: 25 },
                { key: 'VOCInlet', id: 26 },
                { key: 'VOCOutlet', id: 27 },
            ]
        }
    ]


    var reqRunning;
    function getData(exp) {
        var file = $("#file").val();
        if (file == "") return
        if (reqRunning===true) return;
        reqRunning = true;



        $.getJSON("/analytic/file/" + file, function (response) {
            const axes = JSON.parse(decodeHTMLEntities(`{{axes|safe}}`));

            return buildChartFromData("{{Name}}", response, exp, axes, CHART_CONFIGS);
        }).always(function () {
            reqRunning = false;
        });
    }
</script>
<div id="uplot-1" class="uplot uplot-container"></div>
<div id="uplot-2" class="uplot uplot-container"></div>
<br>
<select id="file" class="form-control form-inline" style="display:inline;width: auto;">
    {% if files|length == 0 %}
    <option value="" translate>No File Available</option>
    {% endif %}
    {% for file in files %}
    <option value="{{path}}{{file}}" translate>{{file}}</option>
    {% endfor %}
</select>
<button class="btn btn-default" id="download-csv" href="#" translate>Download CSV</button>
<a href="/plate/download/{{ plateID }}/analytic" class="btn btn-default" translate>Export All Data</a>
{% endblock %}