{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/dependencies/uPlot/uPlot.min.css">
<script src="/static/dependencies/uPlot/uPlot.iife.min.js"></script>
<script src='/static/js/analytics.js'></script>
<link href='/static/css/analytics.css' rel="stylesheet">

{% endblock %}
{% block content %}
<script>
    $(document).ready(function () {
        waitForElement();
    });

    const CHART_CONFIGS = [
        {
            uplotId: '#uplot-1',
            fields: [
                { key: 'LayerHeight', id: 0 },
                { key: 'SolidArea', id: 1 },
                { key: 'AreaCount', id: 2 },
                { key: 'LargestArea', id: 3 },
                { key: 'Speed', id: 4 },
                { key: 'Cure', id: 5 },
                { key: 'Pressure', id: 6, overrideLabel: 'Force', overrideAxisLabel: 'Force', overrideUnit: 'g' },
                { key: 'LayerTime', id: 9 },
                { key: 'LiftHeight', id: 10 },
                { key: 'DynamicWait', id: 17 },
            ]
        },
        {
            uplotId: '#uplot-2',
            fields: [
                { key: 'TemperatureInside', id: 7 },
                { key: 'TemperatureOutside', id: 8 },
                { key: 'TemperatureMCU', id: 11 },
                { key: 'TemperatureInsideTarget', id: 12 },
                { key: 'TemperatureOutsideTarget', id: 13 },
                { key: 'TemperatureMCUTarget', id: 14 },
                { key: 'MCUFanRPM', id: 15 },
                { key: 'UVFanRPM', id: 16 },
                { key: 'TemperatureVat', id: 18 },
                { key: 'TemperatureVatTarget', id: 19 },
                { key: 'PTCFanRPM', id: 20 },
                { key: 'AEGISFanRPM', id: 21 },
                { key: 'TemperatureChamber', id: 22 },
                { key: 'TemperatureChamberTarget', id: 23 },
                { key: 'TemperaturePTC', id: 24 },
                { key: 'TemperaturePTCTarget', id: 25 },
                { key: 'VOCInlet', id: 26 },
                { key: 'VOCOutlet', id: 27 },
            ]
        }
    ]

    function waitForElement() {
        if (typeof $ !== "undefined") {
            getData(false);
            setInterval(function () {
                if ($("#range").val() != "0") getData(false);
            }, ANALYTICS_UPDATE_INTERVAL);
            $("#download-csv").click(function () {
                getData(true);
            });
        } else {
            setTimeout(waitForElement, 250);
        }
    }

    let reqRunning;
    function getData(exp) {
        if (reqRunning) return;
        reqRunning = true;
        const range = $("#range").val();

        $.getJSON(`${BASE_URL}/analytic/data/${range}`, function (response) {
            if (response==null) return;

            const axes = JSON.parse(decodeHTMLEntities(`{{axes|safe}}`));
            return buildChartFromData("Sensor reading", response, exp, axes, CHART_CONFIGS);
        }).always(function () {
            reqRunning = false;
        });
    }
</script>

{% include "components/print-progress.html" %}
<div id="uplot-1" class="uplot uplot-container"></div>
<div id="uplot-2" class="uplot uplot-container"></div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div style="align-content: center; display: none" class="alert alert-info" id="chart-paused-warning">
            <strong>Chart auto update is paused whilst zoomed in.</strong> double click to reset zoom
        </div>
    </div>
</div>
<a class="btn btn-warning" href="/analytic/reset" translate>Reset Stats</a>
<select id="range" class="form-control form-inline" style="display:inline;width: auto;">
    <option value="start" selected="selected" translate>Start of The Print - Auto Update</option>
    <option value="first" translate>Start of The Second Layer - Auto Update</option>
    <option value="0" translate>Auto Update Paused</option>
    <option value="500" translate>Last 500 Points - Auto Update</option>
    <option value="1000" translate>Last 1,000 Points - Auto Update</option>
    <option value="5000" translate>Last 5,000 Points - Auto Update</option>
    <option value="10000" translate>Last 10,000 Points - Auto Update</option>
    <option value="50000" translate>Last 50,000 Points - Auto Update</option>
</select>
<br>
<button class="btn btn-default" id="download-csv" href="#" translate>Download CSV</button>
<br>
{% endblock %}