{% extends "base.html" %}
{% block content %}
<link href='/static/css/calibration.css' rel="stylesheet">
<script src='/static/js/calibration.js'></script>

<div class="col-md-12">
    <h2>Exposure Calibration</h2>

    <div class="row">
        <div class="col-md-12">
            <h4>Job Setup</h4>
            <div class="col-md-8 calibration-form-setup">
                <form id="calibration-form">
                    <div class="col-md-4">
                        <label for="calibration-model">Choose Calibration Model:</label>
                    </div>
                    <div class="col-md-8">
                        <!--                        Populated by calibration.js on page load-->
                        <select id="calibration-model" class="form-control" name="calibration-model">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="profile-id">Profile:</label>
                    </div>
                    <div class="col-md-8">
                        <!--                        Populated by calibration.js on page load-->
                        <select id="profile-id" class="form-control" name="profile-id">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="start-exposure">Set Starting Exposure Time (s):</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="start-exposure" value="1.5" name="start-exposure" type="number"
                               step="0.1" min="0.1">
                    </div>


                    <div class="col-md-4">
                        <label for="exposure-increment">Exposure Time Increment (s)</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="exposure-increment" value="0.2" name="exposure-increment"
                               type="number" step="0.1" min="0.1">
                    </div>

                    <span id="exposure-value-preview"></span><br/><br>
                </form>
                <div class="col-md-12 text-center">
                    <button id="calibration-form-button-submit" class="btn btn-success"
                            data-toggle="modal" data-target="#calibrationModal">Submit and Print
                    </button>
                </div>

            </div>
            <div class="col-md-4">
                <img src="/static/shots/calibration-images/1.png" alt="An image of the calibration piece"
                     style="width:100%" id="calibration-model-image"/>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>How To Evaluate Calibration Model</h4>

        <div id="model-evaluation-1" class="evaluation-text">
            Check out <a
                href="https://docs.google.com/document/d/1aoMSE6GBGMcoYXNGfPP9s_Jg8vr1wQmmZuvqP3suago/edit?tab=t.0#bookmark=kix.cq1i76pon3wz"
                target="_blank">J3D's instructions</a> for a guide on how to read the Boxes of Calibration.<br><br>

            Once you find the optimal exposure time, you can print another type of calibration model to verify it, or
            create a new resin profile with the normal exposure time you determined here.
        </div>

        <div id="model-evaluation-2" class="evaluation-text" style="display: none">
            Check out <a
                href="https://docs.google.com/document/d/1aoMSE6GBGMcoYXNGfPP9s_Jg8vr1wQmmZuvqP3suago/edit?tab=t.0#bookmark=kix.5d6umuu6x6ur"
                target="_blank">J3D's instructions</a> for a guide on how to read the RERF test.<br><br>

            Once you find the optimal exposure time, you can print another type of calibration model to verify it, or
            create a new resin profile with the normal exposure time you determined here.
        </div>
    </div>

</div>

<div class="modal fade" id="calibrationModal" tabindex="-1" role="dialog" aria-labelledby="calibrationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modalLabel">Please confirm setup</h5>
            </div>
            <div class="modal-body">
                <div id="calibration-progress" style="display: none">
                    <span>This could take a few moments...</span>
                    <div class="progress text-center" style="display: block">
                        <div id="calibration-modal-progress-bar"
                             class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                        <span style="color: black" id="upload-modal-progress-text"></span>
                    </div>
                </div>
                <div id="calibration-confirm">
                    <div>
                        <span>Before starting the print, ensure the following are properly installed:</span>
                        <ul>
                            <li>Resin vat</li>
                            <li>Temperature probe</li>
                            <li>Build plate</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="calibration-form-confirm" type="submit" class="btn btn-default" form="calibration-form">
                    Continue
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}