{% extends "base.html" %}
{% block content %}
<link href='/static/css/calibration.css' rel="stylesheet">
<script src='/static/js/calibration.js'></script>

<div class="col-md-12">
    <h2>Exposure Calibration</h2>

    <div class="row">
        <div class="col-md-12">
            <h4>Job Setup</h4>
            <div class="col-md-8 calibration-form-setup">
                <form id="calibration-form">
                    <div class="col-md-4">
                        <label for="calibration-model">Choose Calibration Model:</label>
                    </div>
                    <div class="col-md-8">
                        <!--                        Populated by calibration.js on page load-->
                        <select id="calibration-model" class="form-control" name="calibration-model">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="profile-id">Profile:</label>
                    </div>
                    <div class="col-md-8">
                        <!--                        Populated by calibration.js on page load-->
                        <select id="profile-id" class="form-control" name="profile-id">
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="start-exposure">Set Starting Exposure Time (s):</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="start-exposure" value="1.5" name="start-exposure" type="number" step="0.1">
                    </div>


                    <div class="col-md-4">
                        <label for="exposure-increment">Exposure Time Increment (s)</label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="exposure-increment" value="0.2" name="exposure-increment" type="number">
                    </div>

                    <span id="exposure-value-preview">Test Preview Exposure here</span><br/><br>
                    <div class="col-md-12 text-center">
                        <button type="submit" id="calibration-form-button-submit" class="btn btn-success">Submit and Print</button>
                    </div>
                </form>

            </div>
            <div class="col-md-4">
                <img src="/static/shots/calibration-images/1.png" alt="An image of the calibration piece" style="width:100%"/>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>How To Evaluate Calibration Model</h4>

        <div id="model-evaluation-generic">
            Check out <a href="https://docs.google.com/document/d/1aoMSE6GBGMcoYXNGfPP9s_Jg8vr1wQmmZuvqP3suago/edit?tab=t.0#heading=h.bvm0ca3vxmwr" target="_blank">J3D's instructions</a> for a guide on how to determine the best exposure time.<br><br>

            Once you find the optimal exposure time, you can print another type of calibration model to verify it, or
            create a new resin profile with the normal exposure time you determined here
        </div>
    </div>

</div>
{% endblock %}