{% extends "base.html" %}
{% block content %}

<div>
    <div id="machine-status" class="row row-marginless">
        {% include "components/print-progress.html" %}
    </div>

    <div class="row row-marginless">
        <div id="control-column" class="col-md-8 no-padding">
            <div class="row control-row row-marginless display-flex">
                <div id="heater-column" class="col-md-8 no-padding">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Heater</div>
                        <div class="panel-body">
                            {% include "dashboard-widgets/heater.html" %}
                        </div>
                    </div>
                </div>
                <div id="printer-control-column" class="col-md-4 no-padding">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Printer Control</div>
                        <div class="panel-body">

                            <div class="col-md-12 no-padding">
                                <div class="dashboard-button-panel" style="margin-top: 10px">
                                    <a class="ask btn btn-default" href="/printer/off" data-ask="poweroff-confirm"><span class="glyphicon glyphicon-off text-danger"></span></a>
                                    <a class="ask btn btn-default" href="/printer/restart" data-ask="restart-confirm"><span class="glyphicon glyphicon-repeat text-warning"></span></a>
                                </div>
                            </div>
                            <div class="col-md-12 no-padding"><br/>
                                <h5>Move Plate</h5>

                                <div class="btn-group-vertical" style="padding-right: 10px">
                                    <button id="btnUp" class="btn btn-primary btn-axis-move" style="margin-bottom: 20px"><span class="glyphicon glyphicon-chevron-up"></span></button>
                                    <button id="btnMove100000" class="btn btn-default btn-movement">100 mm</button>
                                    <button id="btnMove10000" class="btn btn-default btn-movement">10 mm</button>
                                    <button id="btnMove1000" class="btn btn-default btn-movement btn-movement-active">1 mm</button>
                                    <button id="btnMove100" class="btn btn-default btn-movement">0.1 mm</button>
                                    <button id="btnDown" class="btn btn-primary btn-axis-move" style="margin-top: 20px"><span class="glyphicon glyphicon-chevron-down"></span></button>
                                </div>
                                <div class="btn-group-vertical" style="padding-top: 80px">
                                    <button id="btnMoveHome" class="btn btn-default">Home</button>
                                    <button id="btnMoveBottom" class="btn btn-default">Floor</button>
                                    <button id="btnStop" class="btn btn-danger" style="margin-top: 90px"><span class="glyphicon glyphicon-stop"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="webcam-column" class="col-md-4 no-padding">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading">Webcam</div>
                <div class="panel-body">
                    {% include "dashboard-widgets/camera.html" %}
                </div>
            </div>
        </div>
    </div>
            <div class="row row-marginless">
                <div id="pressure-chart-column" class="col-md-12 no-padding">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Pressure Sensor</div>
                        <div class="panel-body">
                            {% include "dashboard-widgets/pressure-chart.html" %}
                        </div>
                    </div>
                </div>
            </div>

    <div class="row chart-row row-marginless">
        <div class="col-md-12 no-padding">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading">Latest Updates</div>
                <div class="panel-body">
                    <div class="nanodlp-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<translate class="hide" id="restart-confirm">Are you sure you want to restart the printer?</translate>
<translate class="hide" id="poweroff-confirm">Are you sure you want to power off the printer?</translate>

{% endblock %}