{% extends "base.html" %}
{% block content %}

<div class="idle-obj">
	<div class="row row-marginless">
        <div class="panel panel-default dashboard-panel">
            <div class="panel-heading">
                Print Progress
            </div>
            <div class="panel-body">
                <div class="col-md-12 no-padding" style="min-height: 250px">Progress Section</div>
            </div>
        </div>
	</div>

	<div class="row row-marginless">
		<div class="col-md-8 placeholder-box control-column no-padding" style="min-height: 600px">
            <div class="row control-row row-marginless equal">
                <div class="col-md-8 placeholder-box no-padding" style="min-height: 300px">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Heater</div>
                        <div class="panel-body">
                            {% include "dashboard-widgets/heater.html" %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 placeholder-box no-padding" style="min-height: 300px">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Printer Control</div>
                        <div class="panel-body">
                            <div class="col-md-12 placeholder-box no-padding" style="min-height: 100px">On / Off</div>
                            <div class="col-md-12 placeholder-box no-padding" style="min-height: 200px">Uppy / Downy</div>
                        </div>
                    </div>
                </div>
            </div>
			<div class="row stats-row row-marginless">
                <div class="panel panel-default dashboard-panel">
                    <div class="panel-heading">Stats</div>
                    <div class="panel-body">
				        <div class="col-md-12 placeholder-box no-padding" style="min-height: 200px">Stats Section</div>
                    </div>
                </div>
			</div>
			<div class="row chart-row row-marginless">
				<div class="col-md-12 placeholder-box no-padding">
                    <div class="panel panel-default dashboard-panel">
                        <div class="panel-heading">Pressure Sensor</div>
                        <div class="panel-body">
                            <div style="min-height: 150px"></div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<div class="col-md-4 placeholder-box webcam-column no-padding">
            <div class="panel panel-default dashboard-panel">
                <div class="panel-heading">Webcam</div>
                <div class="panel-body" style="min-height: 800px">
                    {% include "dashboard-widgets/camera.html" %}
                </div>
            </div>
        </div>
	</div>

	<div class="row">
		<div class="col-md-12 placeholder-box" style="min-height: 600px">News Section</div>
		{% if !manHighLock %}<div class="nanodlp-content"></div>{% endif %}
	</div>
</div>
{% endblock %}