<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only" translate>Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand c3d-navbar-brand" aria-label="Concepts3D home">
        <img class="c3d-brand-icon" src="/static/general/concepts3d-icon.svg" alt="">
        <img class="c3d-brand-wordmark" src="/static/general/concepts3d-wordmark.svg" alt="Concepts3D">
    </a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">        
        <li><a href="/"><span class="glyphicon glyphicon-home"></span><translate>Dashboard</translate></a></li>
        <li><a href="/plates"><span class="glyphicon glyphicon-tasks"></span><translate>Jobs</translate></a></li>
        <li><a href="/profiles"><span class="glyphicon glyphicon-tint"></span><translate>Resins</translate></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-wrench"></span><translate>System</translate><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="c3d-nav-group"><translate>Camera</translate></li>
                <li><a href="/custom/webcam"><span class="glyphicon glyphicon-camera"></span><translate>Camera &amp; Timelapses</translate></a></li>

                <li class="c3d-nav-group"><translate>Monitoring</translate></li>
                <li><a href="/analytic"><span class="c3d-nav-ico c3d-nav-ico--chart"></span><translate>Analytics Charts</translate></a></li>
                {% if !manHighLock %}
                <li><a href="/printer"><span class="glyphicon glyphicon-align-left"></span><translate>Status</translate></a></li>
                <li><a href="/plates/history"><span class="glyphicon glyphicon-list-alt"></span><translate>Print History</translate></a></li>
                {% endif %}

                {% if !manHighLock %}
                <li class="c3d-nav-group"><translate>Tools</translate></li>
                <li><a href="/term"><span class="glyphicon glyphicon-phone"></span><translate>G-code Terminal</translate></a></li>
                <li><a href="/tools"><span class="glyphicon glyphicon-cog"></span><translate>Settings and Tools</translate></a></li>
                <li><a href="/printer/upgrade"><span class="glyphicon glyphicon-cloud-download"></span><translate>Software Update</translate></a></li>
                <li class="{% if viewMode == 0 %}hidden{% endif %}"><a href="/setup"><span class="glyphicon glyphicon-wrench"></span><translate>Machine Settings</translate></a></li>
                <!--<li class="{% if viewMode == 0 %}hidden{% endif %}"><a href="/add-protection"><span class="glyphicon glyphicon-lock"></span>&nbsp; <translate>Password Protection</translate></a></li>-->
                {% endif %}

                <li><a href="#" id="easyModeNavButton"><span class="glyphicon glyphicon-dashboard"></span><span id="easyModeNavButtonText"></span></a></li>
            </ul>
        </li>
        <li><a href="/support"><span class="glyphicon glyphicon-question-sign"></span><translate>Support & Connectivity</translate></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if rampsReconnect %}
        <li>
            <a href="/ramps/reconnect"><span class="label label-danger"><span class="glyphicon glyphicon-transfer"></span>&nbsp; <translate>Controller Board: Reconnect</translate></span></a>
        </li>
        {% endif %}
        {% if printerError %}
            <li><a class="svg error label label-danger" href="/printer">{{ icon(heart_icon) }}</a></li>
        {% endif %}
        <li class="navbar-resin-temp c3d-navbar-status-divider" style="display:none">
            <a href="/" class="c3d-navbar-block">
                <span class="c3d-navbar-block-name"><translate>Resin</translate> <span id="navbar-resin-temp-text"></span>°C</span>
                <span class="c3d-navbar-block-sub" id="navbar-resin-target-text"></span>
            </a>
        </li>
        {% if os=="linux" %}
        <li class="c3d-navbar-status-divider">
            {% if network==1 %}
            <a href="/wifi" class="c3d-navbar-block">
                <span class="c3d-navbar-block-name"><translate>Wired</translate></span>
                <span class="c3d-navbar-block-sub"><translate>Connected</translate></span>
            </a>
            {% else %}
                {% if wifi!="" %}
                <a href="/wifi" class="c3d-navbar-block">
                    <span class="c3d-navbar-block-name">{{wifi}}</span>
                    <span class="c3d-navbar-block-sub"><translate>Connected</translate></span>
                </a>
                {% else %}
                <a href="/wifi" class="c3d-navbar-block">
                    <span class="c3d-navbar-block-name"><translate>Wi-Fi</translate></span>
                    <span class="c3d-navbar-block-sub"><translate>Not connected</translate></span>
                </a>
                {% endif %}
            {% endif %}
        </li>
        {% endif %}
        <li>
            <a href="/printer/upgrade" class="c3d-navbar-block">
                <span class="c3d-navbar-block-name">{% if printerName!="" %}{{printerName}}{% endif %}<span class="c3d-navbar-bit-chip navbar-bit-depth" style="display:none"><span id="navbar-bit-depth-text"></span></span></span>
                <span class="c3d-navbar-block-sub"><span id="athena-version-str">1.0.8</span></span>
            </a>
        </li>
    </ul>
</div>
<!--/.nav-collapse -->
