{% extends "../base.html" %}
{% block content %}
<script src='/static/js/support.js'></script>

<div class="modal fade" id="support_notification" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalLabelSmall"><center>Creating Ticket</center></h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div id="anotherbar" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="1000" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					</div>
				</div>
				<div>
					<center>
						Diagnostic Data is being collected and sent, thanks for your patience.
					</center>
				</div>
			</div>
		</div> 
	</div>
</div>

<div class="starter-template">
	<div class="row flex-row">
		<div class="col-md-12">
			<h2 translate>Support Resources</h2>
		</div>
	</div>
	<div class="row flex-row">
		<div class="col-md-4">
			<center>
				<h4 translate>Questions? </br>Join our Discord</h4>
				<br>
				<a href="https://discord.gg/55wshXG7pp" target="_blank" translate>discord.gg/55wshXG7pp</a>
				<br>
				<br>
				<a href="https://discord.gg/55wshXG7pp" target="_blank" translate><img width="15%"
																					   src="/static/shots/athena-discord.png"
																					   alt="A QR Code linking to Discord"/></a>
			</center>
		</div>
		<div class="col-md-4">
			<center>
				<h4 translate>Manual and Getting started</h4>
				<br>
				<a href="https://help.concepts3d.ca" target="_blank" translate>help.concepts3d.ca</a>
			</center>
		</div>
		<div class="col-md-4">
			<center>
				<h4 translate>Reach out to our support Team</h4>
				<br>
				<a href="mailto:support@concepts3d.ca" target="_blank" translate>support@concepts3d.ca</a>
			</center>
		</div>
	</div>
		<br>
	<br>
	<br>
    <div class="row flex-row">
        <div class="col-md-12">
	
			<h3 translate>Open a Ticket</h3>
            <p translate>If requested by our Support team or if you belive you found an issue with the machine or it's software, please fill out the form below and click send.</p>                    
            <p translate>Please provide your name and email address so we can reach out to you.</p>                    
            <p translate>By submitting the form you agree that your printer configuration and log files will be transmitted to a server operated by Concepts3D or it's affiliates.</p>                    
            <p translate>You will receive a confirmation email where you can download the data that has been submitted for your own validation.</p>                    
            <form class="support-form" id="SupportForm">
                <input id="SupportNameField" class="form-control" name="name" type="name" placeholder="Your Name" required>
                <input id="SupportEmailField" class="form-control" name="email" type="email" placeholder="Email address" required>
				<textarea id="SupportTextField" class="form-control" name="report" placeholder="Detail of the bug you want to report." required></textarea>
                <input id="SupportSubmitButton" class="btn btn-success" value="Send">
            </form>
            <br>  
					
			<br>
		</div>
	</div>

	<div class="row" id="iot-control" style="display: none">
		<div class="col-md-12">
			<h4>IOT Control</h4>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 center-block">
						<div class="row" id="iot-control-toggle-row">
							<div class="col-md-6 center-block" >
								<label for="iot-control-toggle">Enable Cloud Connectivity</label>
							</div>
							<div class="col-md-6 center-block">
								<label class="switch">
									<input type="checkbox" id="iot-control-toggle" name="iotControlToggle">
									<span class="switch-slider round"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 center-block">
						<div class="row" id="asset-sync-toggle-row">
							<div class="col-md-6 center-block" >
								<label for="asset-sync-toggle">Enable sync of print assets (Job previews, timelapses) for access in the app</label>
							</div>
							<div class="col-md-6 center-block">
								<label class="switch">
									<input type="checkbox" id="asset-sync-toggle" name="assetSyncToggle">
									<span class="switch-slider round"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 center-block" >
			<h5>By enabling the Cloud Connectivity feature you agree that anonymous ussage statistics are collected and processed by Concepts3D and it's affiliates</h5>
			<p> This includes information about completed prints, number of layers printed and duration of prints among others</p>
			<p> The Cloud Service is a necessary requirement to use the printer in the Athena Mobile App</p>
			<p> Therefore printer data is transmitted to servers operated by Concepts 3D in Europe </p>
			<p> To make the data available in the app, following pieces of information are transmitted</p>
			<ul>
				<li>Machine identifier and Serial Number</li>
				<li>Machine status including resin profiles and usage statistics</li>
				<li>Camera feed (if available)</li>
				<li>Print jobs available on the machine (but no preview images or stl files)</li>
				<li>Print progress and associated status messages</li>
			</ul>

			<p> As we believe transparency about how and where you data is processed is important, following services are operated.</p>
			<table>
				<thead>
				<tr>
					<th>System / Service</th>
					<th>Function</th>
					<th>Provider / Platform</th>
					<th>Location / Region</th>
					<th>Data Stored / Processed</th>
					<th>Notes</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>olymp.concepts3d.eu</td>
						<td>Printer management, machine-to-machine authentication, update management</td>
						<td>Hetzner</td>
						<td>EU Central</td>
						<td> Printer serial numbers, user-printer mappings, user-device mappings, print job preview images optional, timelapses optional </td>
						<td>Central management endpoint</td>
					</tr>
					<tr>
						<td>hades.concepts3d.eu</td>
						<td>MQTT server</td>
						<td>Hetzner</td>
						<td>EU Central</td>
						<td>Printer live data</td>
						<td>Central IoT MQTT broker</td>
					</tr>
					<tr>
						<td>talos.concepts3d.eu</td>
						<td>User authentication and access management</td>
						<td>Auth0</td>
						<td>US-4</td>
						<td>User login credentials, social login tokens, user roles</td>
						<td>Central user management</td>
					</tr>
					<tr>
						<td>hermes.concepts3d.eu</td>
						<td>Object storage</td>
						<td>Hetzner</td>
						<td>EU Central</td>
						<td>Athena software update binaries</td>
						<td>None</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row" id="iot-control-qr" >
		</br>
		</br>
		<div class="col-md-12">
		<img src="/athena-iot/mqtt/qrcode">
		</br>
		<span>Scan the QR Code in the App to connect your printer</span>
	</div>
	</div>

	<div class="row" id="iot-control-text">
		<div class="col-md-12">
		<h4>Printer Data for manual connection</h4>
		<p id="iot-control-printername">Empty</p>
			</br>
		<p id="iot-control-printerserial">Empty</p>
	</div>
	</div>
</div>
	</div>
</div>

<br>
<br>           
<br>           
{% endblock %}