{% extends "../base.html" %}
{% block content %}
<script src="/static/js/tools.js"></script>
<translate class="hide" id="expand-confirm">Are you sure you want to expand filesystem?</translate>
<translate class="hide" id="restore-confirm">Are you sure you want to restore the default settings and reboot the printer?</translate>
<translate class="hide" id="stop-confirm">Are you sure you want to force stop the printer?</translate>
<translate class="hide" id="poweroff-confirm">Are you sure you want to power off the printer?</translate>
<translate class="hide" id="terminate-confirm">Are you sure you want to terminate NanoDLP and have access to terminal?</translate>
<translate class="hide" id="restart-confirm">Are you sure you want to restart the printer?</translate>
<translate class="hide" id="reset-confirm">Are you sure you want to reset all the printer statistics?</translate>
<translate class="hide" id="sampling-confirm">Toggle debug sampling? This will collect stack traces and memory usage every minute.</translate>
<div class="starter-template">
    <div class="row flex-row">
        <div class="col-md-12">
            <h2 translate>Settings</h2>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <div class="list-group">
            <span class="list-group-item list-group-item-action active" translate>Manage Printer</span>
            <a class="ajax list-group-item list-group-item-action" data-ajax="/" href="/printer/force-stop" data-confirm="stop-confirm" translate>Force Stop</a>
            <a class="ajax list-group-item list-group-item-action" data-ajax="/" href="/printer/off" data-confirm="poweroff-confirm" translate>Power Off</a>
            <a class="ajax list-group-item list-group-item-action" data-ajax="/" href="/printer/restart" data-confirm="restart-confirm" translate>Restart</a>
            <a id="BtnToggleHeater" class="ajax list-group-item list-group-item-action" translate>Toggle Heater system</a>
            <a class="ajax list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" data-ajax="/" href="/printer/reload" translate>Reload NanoDLP</a>
            <a class="ajax list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" data-ajax="/" href="/printer/terminate" data-confirm="terminate-confirm" translate>Terminate NanoDLP</a>
                <a href="/printer/hmi/restart" data-ajax="/" class="list-group-item list-group-item-action ajax {% if viewMode == 0 %}hidden{% endif %}" translate>Restart HMI</a>
                <a href="/printer/hmi/stop" data-ajax="/" class="list-group-item list-group-item-action ajax {% if viewMode == 0 %}hidden{% endif %}" translate>Stop HMI</a>
                <a href="/printer/hmi/start" data-ajax="/" class="list-group-item list-group-item-action ajax {% if viewMode == 0 %}hidden{% endif %}" translate>Start HMI</a>
                <a id="orion-toggle" class="ajax list-group-item list-group-item-action" style="display: none" onclick="onOrionToggle()">Toggle Orion</a>
            {% if arch=="arm" %}
            <a class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" href="/printer/edit/pi " translate>Edit Raspberry Pi Settings</a>
            <a class="ajax list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" data-ajax="/" href="/printer/expand-fs" data-confirm="expand-confirm" translate>Expand Filesystem</a>
            {% endif %}
            {% if os=="linux" %}
            <a class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" href="/setup/timezone" translate>Change Timezone</a>
            {% endif %}
            <a class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" href="/term" translate>Gcode Terminal</a>
                <a href="/debug" class="list-group-item list-group-item-action" translate>Download Debug</a>
                </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <span href="#" class="list-group-item list-group-item-action active" translate>Customize</span>
                <a href="/setup/custom-inputs" class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" translate>Inputs</a>
                <a href="/setup/custom-sound" class="list-group-item list-group-item-action" translate>Sound</a>
                <a href="/setup/custom-consumables" class="list-group-item list-group-item-action" translate>Manage Consumables</a>
                <a href="/add-protection" class="list-group-item list-group-item-action" translate>Password Protection</a>
                {% if arch=="arm" %}
                <a href="/printer/edit/pi" class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" translate>Raspberry Pi Settings</a>
                <a href="/printer/expand-fs" data-ajax="/" class="ajax list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" data-confirm="expand-confirm" translate>Expand Filesystem</a>
                {% endif %}
                {% if os=="linux" %}<a href="/setup/timezone" class="list-group-item list-group-item-action" translate>Timezone</a>{% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <span class="list-group-item list-group-item-action disabled active" translate>Import / Export</span>
                <a href="/printer/restore" class="list-group-item list-group-item-action">Import Settings</a>
                <a href="/setup/export" class="list-group-item list-group-item-action">Export Machine Settings</a>
                <a href="/printer/backup" class="list-group-item list-group-item-action">Export Plates and Settings</a>
                <a href="/setup/export/nanosupport" class="list-group-item list-group-item-action">Export NanoSupport Settings</a>
            </div>
        </div>
        <div class="col-md-4 {% if viewMode == 0 %}hidden{% endif %}">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Troubleshoot</a>
                <a href="/debug/verbose" class="list-group-item list-group-item-action" translate>Enable Verbose Logging</a>
                <a href="/debug/performance/cpu" class="list-group-item list-group-item-action" translate>CPU Profiling</a>
                <a href="/debug/performance/memory" class="list-group-item list-group-item-action" translate>Memory Profiling</a>
                <a href="/debug/performance/trace" class="list-group-item list-group-item-action" translate>Tracing</a>
                <a href="/debug/sampling" class="list-group-item list-group-item-action ajax" data-confirm="sampling-confirm" translate>Sample Stack</a>
                <a href="/debug/stack" class="list-group-item list-group-item-action" translate>View Stack</a>
            </div>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4" id="aegis-control-div" style="display: none;">
            <h4 translate>AEGIS</h4>
            <label for="aegis-available-toggle">
                Enable AEGIS System
                <a class="help" data-toggle="tooltip" data-placement="bottom"
                   title="Flip this switch only if the Aegis System is installed">i</a>
            </label>
            <label class="switch">
                <input type="checkbox" id="aegis-available-toggle" name="aegisAvailableToggle">
                <span class="switch-slider round"></span>
            </label>
        </div>
    </div>
</div>
{% endblock %}