<script src='/static/js/aegis-client.js'></script>
<link href='/static/css/aegis.css' rel="stylesheet">

<div id="aegis-dashboard-container" class="col-md-12" style="display: none;">

<!--  <div class="panel">-->
    <div class="aegis-header" id="aegis-status">VOC Level Ok</div>

    <div class="aegis-row">
      <span>AEGIS Fan</span>

      <label class="switch">
        <input id="aegis-toggle" type="checkbox">
        <span class="switch-slider round"></span>
      </label>
    </div>

    <div class="aegis-row">
      <span>Fan RPM</span>
      <span id="aegis-fan-rpm">1000</span>
    </div>

    <div class="divider"></div>

    <div class="aegis-row">
      <span>VOC Index Outlet</span>
      <span><span id="aegis-fan-voc-outlet-status" class="glyphicon circle label-success"></span><span id="aegis-fan-voc-outlet">100</span></span>
    </div>

    <div class="aegis-row">
      <span>VOC Index Inlet</span>
      <span><span id="aegis-fan-voc-inlet-status" class="glyphicon circle label-success"></span><span id="aegis-fan-voc-inlet">100</span></span>
    </div>
<!--  </div>-->
</div>