<div class="modal fade c3d-dragonfruit-modal" id="dragonfruit-modal" tabindex="-1" role="dialog" aria-labelledby="dragonfruit-modal-title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="c3d-page-eyebrow"><translate>Slicing</translate></div>
                <h2 class="modal-title" id="dragonfruit-modal-title"><translate>DragonFruit Slicer</translate></h2>
            </div>
            <div class="modal-body">
                {% include "dragonfruit-info.html" %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn c3d-ghost c3d-ghost-gold" data-dismiss="modal"><translate>Back to Jobs</translate></button>
            </div>
        </div>
    </div>
</div>
