{% set repair_icon = '<path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>' %}
{% macro icon(ic) %}
<svg viewBox="0 0 16 16" class="bi" fill="currentColor" xmlns="http://www.w3.org/2000/svg">{{ic|safe}}</svg>
{% endmacro %}
{% macro printHistory(PrintResult) %}
{% if PrintResult.Path %}
<div class="c3d-section-label c3d-print-result-label"><translate>Last Print Job</translate></div>
<div class="c3d-print-result-bar">
	<span class="c3d-print-result-thumb-wrap">
		<img class="c3d-print-result-thumb" data-thumb="/print/preview/{{PrintResult.PrintID}}" loading="lazy">
		<span class="c3d-job-thumb-spin"></span>
	</span>
	<div class="c3d-print-result-info">
		<div class="c3d-print-result-head">
			<span class="glyphicon glyphicon-question-sign c3d-print-result-icon"></span>
			<span class="c3d-print-result-name">{{PrintResult.Path}}</span>
			<span class="c3d-list-meta">{{PrintResult.ProfileName}} ({{PrintResult.TotalSolidArea}}ml) &nbsp;·&nbsp; <span class="glyphicon glyphicon-usd"></span>{{PrintResult.Price}} &nbsp;·&nbsp; {{PrintResult.LayersCount}} <translate>Layers</translate> &nbsp;·&nbsp; {{PrintResult.LayerThickness}} &nbsp;·&nbsp; {{PrintResult.PrintTime}} &nbsp;·&nbsp; {{PrintResult.supportCureTime}}s / {% if !PrintResult.cureTimes %}{{PrintResult.cureTime}}{% else %}{{PrintResult.cureTimes}}{% endif %}s &nbsp;·&nbsp; {{PrintResult.Date}}</span>
		</div>
	</div>
	{% if PrintResult.Status == 0 %}
	<div class="c3d-print-result-actions">
		<a class="btn c3d-ghost c3d-ghost-gold c3d-btn-i tip" href="/plate/result/{% if PrintResult %}{{PrintResult.PlateID}}{% else %}0{%endif%}/{{PrintResult.PrintID}}/2" title="Successful Print"><span class="glyphicon glyphicon-ok-sign"></span><translate>Successful Print</translate></a>
		<div class="btn-group">
			<button type="button" class="btn c3d-ghost c3d-ghost-danger c3d-btn-i tip dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Failed Print">
			<span class="glyphicon glyphicon-remove-sign"></span><translate>Failed Print</translate> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="/plate/result/{{PrintResult.PlateID}}/{{PrintResult.PrintID}}/3" translate>Some Parts Are Missing</a></li>
				<li><a href="/plate/result/{{PrintResult.PlateID}}/{{PrintResult.PrintID}}/4" translate>Only Supports There</a></li>
				<li><a href="/plate/result/{{PrintResult.PlateID}}/{{PrintResult.PrintID}}/5" translate>Nothing on Build Platform</a></li>
			</ul>
		</div>
		<a class="btn c3d-ghost c3d-btn-i tip" href="/plate/result/{{PrintResult.PlateID}}/{{PrintResult.PrintID}}/1" title="Ignore"><span class="glyphicon glyphicon-minus-sign"></span><translate>Ignore</translate></a>
		<a class="btn c3d-ghost c3d-ghost-danger c3d-btn-i tip" href="/plate/result/dismiss" title="Dismiss All"><span class="glyphicon glyphicon-minus-sign"></span><translate>Dismiss All</translate></a>
		<button id="btnMoveHome" class="btn c3d-ghost c3d-btn-i tip" title="Move Plate to Home"><span class="glyphicon glyphicon-arrow-up"></span>Move Plate to Home</button>
	</div>
	{% endif %}
</div>
{% endif %}
{% endmacro %}
{{ printHistory(PrintResult) }}
<translate class="hide" id="deleteall-confirm">Are you sure you want to delete all the jobs?</translate>
<translate class="hide" id="delete-confirm">Are you sure you want to delete this job?</translate>
<translate class="hide" id="regenerate-confirm">Are you sure you want to RE-SLICE the layers of this plate?
</translate>
<translate class="hide" id="stop-confirm">Are you sure you want to stop printing?</translate>
<translate class="hide" id="force-stop-confirm">Are you sure you want to force stop printing? Warning, Force Stop will reset the printer. Printing progress will be lost.</translate>
<translate class="hide" id="start-confirm">Are you sure you want to print job from the start?</translate>
<translate class="hide" id="calibrate-confirm">Are you sure you want to print the calibration job?</translate>
<div class="c3d-list-toolbar">
	<span class="c3d-section-label"><translate>All jobs</translate> <span id="c3d-jobs-count" class="c3d-count"></span></span>
	<div class="c3d-chips" id="c3d-jobs-sort" role="group" aria-label="Sort jobs">
		<button type="button" class="c3d-chip" data-sort="id-desc" title="Tap again to reset"><translate>Newest</translate></button>
		<button type="button" class="c3d-chip" data-sort="id-asc" title="Tap again to reset"><translate>Oldest</translate></button>
		<button type="button" class="c3d-chip" data-sort="name" title="Tap again to reset"><translate>Name</translate></button>
		<button type="button" class="c3d-chip" data-sort="lastprint-desc" title="Tap again to reset"><translate>Recently Printed</translate></button>
		<button type="button" class="c3d-chip" data-sort="layers-desc" title="Tap again to reset"><translate>Most Layers</translate></button>
	</div>
</div>
<div id="plates" class="c3d-list c3d-job-list">
	{% if plates %}
	{% for row in plates %}{% if row.PlateID != 0 %}
<div class="c3d-list-row c3d-job-row{% if row.Processed %} plate-processed{% else %} job-not-processed{% endif %}" data-idx="{{forloop.Counter}}" data-profile="{{row.profileID}}" data-sort-id="{{row.PlateID}}" data-sort-lastprint="{{row.LastPrint}}" data-sort-layers="{{row.LayersCount}}"{% if forloop.Counter==1 %} id="latest"{% endif %}>
		<div class="c3d-job-thumb">
			<img {% if row.Preview %}data-thumb="/static/plates/{{row.PlateID}}/3d.png?{{row.Updated}}"{% else %}src="/static/plates/{{row.PlateID}}/3d.png?{{row.Updated}}"{% endif %} loading="lazy"
				class="threed {% if !row.Preview %}hide retry{% endif %}">
			<span class="c3d-job-thumb-spin"></span>
			<span class="glyphicon glyphicon-picture c3d-job-thumb-ph"></span>
		</div>
		<div class="c3d-job-main">
			<div class="c3d-list-main">
				<span class="c3d-job-id">#{{row.PlateID}}</span>
				<span class="c3d-list-title c3d-job-name tip">{{row.Path}}<translate class="hide">Uploaded on: {{row.UploadedOn}}</translate></span>
				<span class="c3d-list-meta"><span class="glyphicon glyphicon-tint"></span> {% if !row.profileError %}<a href="/profile/edit/{{row.profileID}}">{{row.ProfileName}}</a>{% else %}<translate>Profile not found.</translate>{% endif %}</span>
				<span class="c3d-list-meta">{{row.LayersCount}} <translate>Layers</translate> &nbsp;·&nbsp; {{row.TotalSolidArea}}ml &nbsp;·&nbsp; {{row.PrintTime}}</span>
				{% if !row.Processed %}
				<span class="c3d-job-flag c3d-job-flag-warn req-not-processed"><span class="glyphicon glyphicon-exclamation-sign"></span> <translate>The job is not sliced yet.</translate></span>
				{% endif %}
				{% if row.IsOverride %}
				<span class="c3d-job-flag c3d-job-flag-warn"><span class="glyphicon glyphicon-alert"></span> <translate>Local print configuration will be used.</translate></span>
				{% endif %}
				{% if row.ReSliceNeeded %}
				<span class="c3d-job-flag c3d-job-flag-warn req-no-slicing"><span class="glyphicon glyphicon-alert"></span> <translate>Re-slicing required.</translate>
					{% if (row.Type) %}
					<a class="ask btn c3d-ghost btn-sm" href="/plate/regenerate/{{ row.PlateID }}"
					data-ask="regenerate-confirm" title="Re-slice"><span class="glyphicon glyphicon-refresh"></span>
					</a>
					{% endif %}
				</span>
				{% endif %}
				{% if row.IsFaulty %}
				<span class="c3d-job-flag c3d-job-flag-danger"><span class="glyphicon glyphicon-alert"></span>
					<a href="/plate/preview/{{ row.PlateID }}" translate>Source file contains faulty structure.</a>
					{% if !row.Repaired %}
					<a class="ask req-no-slicing btn c3d-ghost repair svg tip" href="/plate/repair-regenerate/{{ row.PlateID }}"
					data-ask="regenerate-confirm"><span class="c3d-btn-i">{{ icon(repair_icon) }}<translate>Repair</translate></span></a>
					{% endif %}
				</span>
				{% endif %}
				{% if row.IsOverhang %}
				<span class="c3d-job-flag c3d-job-flag-danger"><span class="glyphicon glyphicon-alert"></span> <translate>Early layers seems empty, print will fails.</translate></span>
				{% endif %}
				{% if row.Risky %}
				<span class="c3d-job-flag c3d-job-flag-warn"><span class="glyphicon glyphicon-alert"></span> <a href="/plate/preview/{{ row.PlateID }}" translate>The object(s) contain overhang areas.</a></span>
				{% endif %}
				{% if row.Corrupted==true %}
				<span class="c3d-job-flag c3d-job-flag-danger"><span class="glyphicon glyphicon-alert"></span> <translate>This job is corrupt.</translate>
					<a class="ask req-no-slicing btn c3d-ghost" href="/plate/regenerate/{{ row.PlateID }}"
					data-ask="regenerate-confirm"><span class="glyphicon glyphicon-refresh"></span> &nbsp; <translate>Re-slice</translate>
					</a>
				</span>
				{% endif %}
			</div>
			<div class="c3d-list-meta c3d-job-sub">
				<span class="glyphicon glyphicon-move"></span> {{row.XSize}}x{{row.YSize}}x{{row.ZSize}}<translate>mm</translate> / {{row.XRes}}x{{row.YRes}}x{{row.ZRes}}<translate>μm</translate>
				&nbsp;·&nbsp; <span class="glyphicon glyphicon-usd"></span> {{row.Price}}
				&nbsp;·&nbsp; <span class="glyphicon glyphicon-time"></span> <translate>Cure Time</translate> {{row.supportCureTime}}s / {% if !row.cureTimes %}{{row.cureTime}}{% else %}{{row.cureTimes}}{% endif %}s
				{% if row.StopLayers %}&nbsp;·&nbsp; <span class="glyphicon glyphicon-stop"></span> <translate>Stop Layers</translate> {{row.StopLayers}}{% endif %}
				&nbsp;·&nbsp; <span class="glyphicon glyphicon-print"></span> <translate>Last Print</translate>:
				{% if row.LastPrint>0 %}
					{% if row.LastPrint/60/60/24>0 %}
						{{ row.LastPrint/60/60/24}} <translate>days ago</translate>
					{% else %}
						{{ row.LastPrint/60/60}} <translate>hours ago</translate>
					{% endif %}
				{% else %}
				-
				{% endif %}
			</div>
			{% if !row.profileError %}
			<form action="/printer/start/{{ row.PlateID }}" method="post" class="c3d-job-resume {% if row.PlateID == status.PlateID && status.ResumeID<row.LayersCount %}{% else %}hide{% endif %}">
				<translate class="c3d-job-resume-label">Layer ID</translate>
				<span class="input-append input-group">
					<input name="LayerID" class="form-control compact-input appendedtext resume-id"
						value="{% if row.PlateID == status.PlateID && status.ResumeID<row.LayersCount %}{{status.ResumeID}}{% endif %}"
						type="number" min="0" size="3" max="{{row.LayersCount}}">
					<span class="input-group-btn">
					<button class="btn layer-id" disabled>/ {{row.LayersCount}}</button>
					<button type="submit" class="btn btn-warning resume req-processed tip"
						data-confirm='Are you sure you want to resume plate {{row.Path}} from layer [LayerID]?'
						value="Submit"><span class="c3d-btn-i"><span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span><translate>Resume</translate></span></button>
					</span>
				</span>
			</form>
			{% endif %}
			<div class="plate" data-plate="{{row.PlateID}}" data-total="{{row.LayersCount}}">
				<div class="details hide">
					<div class="alert alert-danger"><span class="glyphicon glyphicon-refresh"></span>
						<translate>Slicing...</translate>
						<button class="cancel-slicing close btn-danger">x</button>
						<div class="progress progress-striped active">
							<div style="width: 0%" class="progress-bar progress-bar-success"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c3d-list-actions c3d-job-actions">
			{% if status.Printing == false %}
				{% if !row.profileError %}
				<a class="btn btn-success ask req-processed tip" href="/printer/start/{{ row.PlateID }}"
					data-ask="start-confirm"><span class="c3d-btn-i"><span class="glyphicon glyphicon-play"></span><translate>Start Print</translate></span>
				</a>
				{% endif %}
			{% else %}
				{% if row.PlateID == status.PlateID %}
				<div class="input-append c3d-job-live">
					{% if status.Halted %}
						<a class="ask btn-danger btn" href="/printer/force-stop" data-ask="force-stop-confirm" translate><span class="c3d-btn-i">Force Stop</span></a>
					{% else %}
						<a class="btn btn-danger ask tip" href="/printer/stop" title="stop" data-ask="stop-confirm"><span class="c3d-btn-i"><span class="glyphicon glyphicon-stop"></span><translate>Stop</translate></span></a>
					{% endif %}
					<span class="add-on"><span translate>Layer</span> {{ status.ResumeID }} <span translate>of</span>
						{{row.LayersCount}}</span>
				</div>
				{% endif %}
			{% endif %}
			<a class="btn c3d-ghost c3d-icon-btn tip" href="/plate/preview/{{ row.PlateID }}"><span class="c3d-btn-i"><span class="glyphicon glyphicon-eye-open"></span><translate class="hide">Preview</translate></span></a>
			{% if row.Type=="stl" && !row.Repaired %}
			<a class="btn c3d-ghost c3d-icon-btn repair tip svg" href="/plate/repair/{{ row.PlateID }}">{{ icon(repair_icon) }}<translate class="hide">Repair</translate></a>
			{% endif %}
			<div class="btn-group c3d-job-more">
				<button id="show-more-{{ row.PlateID }}" type="button" class="btn c3d-ghost-info c3d-icon-btn tip dropdown-toggle list-more-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="c3d-btn-i"><span class="glyphicon glyphicon-option-vertical" style="pointer-events: none"></span><translate class="hide">More Options</translate></span>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><a href="#" class="print-from-middle"><span
						class="glyphicon glyphicon-play"></span> &nbsp; <translate>Print from Middle</translate></a></li>
					<li><a href="/plate/edit/{{ row.PlateID }}"><span
						class="glyphicon glyphicon-pencil"></span> &nbsp; <translate>Edit</translate></a></li>
					<li id="show-more-timelapse-{{ row.PlateID }}" style="display: none">
						<a href="/custom/timelapse?plateid={{ row.PlateID }}">
							<span class="glyphicon glyphicon-camera"></span> &nbsp; <translate>Timelapse</translate>
						</a>
					</li>
					<li id="show-more-timelapse-pending-{{ row.PlateID }}" class="disabled" style="display: none">
						<span class="glyphicon glyphicon-camera"></span> &nbsp; <translate>Timelapse Processing...</translate>
					</li>
					{% if (row.Processed==true && row.Type && (( row.PlateID != status.PlateID or status.Printing == false))) or (row.Type && !autoSlice) %}
					<li><a class="ask req-no-slicing" href="/plate/regenerate/{{ row.PlateID }}"
						data-ask="regenerate-confirm"><span class="glyphicon glyphicon-align-justify"></span> &nbsp; <translate>Re-slice</translate>
					</a></li>
					{% if row.Type=="stl" %}
					<li><a class="ask req-no-slicing" href="/plate/regenerate-wasm/{{ row.PlateID }}"
						data-ask="regenerate-confirm"><span class="glyphicon glyphicon-align-justify"></span> &nbsp; <translate>Re-slice Web</translate>
					</a></li>
					{% endif %}
					{% endif %}
				  <li class="req-processed"><a href="/plate/cover/{{ row.PlateID }}"><span class="glyphicon glyphicon-plus"></span> &nbsp; <translate>Blackout</translate></a></li>
				  {% if row.PlateID != status.PlateID or status.Printing == false %}
				  <li>
				  <a class="ask" href="/plate/delete/{{ row.PlateID }}" data-ask="delete-confirm"><span class="glyphicon glyphicon-trash"></span> &nbsp; <translate>Delete</translate>
				  </a>
				  </li>
				  {% endif %}				  
				  {% if row.Deleted %}
				  <li><a class="ask" href="/plate/restore/{{ row.PlateID }}"><span class="glyphicon glyphicon-trash"></span> &nbsp; <translate>Restore</translate></a></li>
				  {% endif %}
				  <li><a href="/plate/clone/{{row.PlateID}}"><span class="glyphicon glyphicon-duplicate"></span> &nbsp; <translate>Clone</translate></a></li>
				  <li class="req-processed"><a href="/analytic/plate/{{ row.PlateID }}"><span class="glyphicon glyphicon-stats"></span> &nbsp; <translate>Analytic</translate></a></li>
				  <li class="req-processed"><a href="/plate/download/{{ row.PlateID }}/nanodlp"><span class="glyphicon glyphicon-download-alt"></span> &nbsp; <translate>Download NanoDLP</translate></a></li>
				  {% if (row.Type) %}<li class="req-processed"><a href="/plate/download/{{ row.PlateID }}/{{ row.Type }}"><span class="glyphicon glyphicon-download-alt"></span> &nbsp; <translate>Download {{ row.Type|upper }}</translate></a></li>{% endif %}
				</ul>
			</div>
			{% if status.Printing == false %}
				{% if printAfterSlice == row.PlateID %}
				<span class="start-after-slice">
					<a class="btn btn-warning ask" href="/printer/start-after-slice/{{ row.PlateID }}"
						data-ask="start-confirm"><span class="c3d-btn-i"><span class="glyphicon glyphicon-stop"></span><translate>Cancel Scheduled Print</translate></span>
					</a>
				</span>
				{% else %}
				<span class="start-after-slice">
					<a class="btn c3d-ghost-info ask" href="/printer/start-after-slice/{{ row.PlateID }}"
						data-ask="start-confirm"><span class="c3d-btn-i"><span class="glyphicon glyphicon-play"></span><translate>Print After Sliced</translate></span>
					</a>
				</span>
				{% endif %}
			{% endif %}
		</div>
	</div>
	{% endif %}{% endfor %}
	{% else %}
	<div class="c3d-empty"><span class="glyphicon glyphicon-inbox"></span> <translate>No Jobs</translate></div>
	{% endif %}
</div>
